<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
</head>
<body >

	<header>
    <p> An error has occurred. </p>
	</header>

	<main>
    <h1><%= message %></h1>
	</main>

	<footer>
	</footer>


</body>
</html>
